* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: 'Jura', sans-serif;

    background-color: #B4B7BA
}

.container {
    padding: 40px 0px 0px 0px;
    width: 100%;
    min-height: 100vh;
}

.title {
    text-align: center;
    font-weight: 700;
    color: #222;
}

.calculator {
    margin: 0 auto;
    min-width: 300px;
    max-width: 600px;
    width: 100%;
}

.calculator > * {
    display: block;
}

.label {
    padding: 0px 0px 4px 10px;
    font-size: 14px;
    font-weight: 700;
    color: #555;
}

.input {
    padding-left: 10px;
    width: 100%;
    height: 36px;

    font-family: inherit;
    font-size: 15px;
    font-weight: 700;

    border: 2px solid #ccc;
    border-radius: 4px;

    outline: none;
}

.input:focus {
    border: 2px solid rgb(17, 80, 253);
    box-shadow: 0px 0px 6px 1px rgba(9, 85, 251, .4);
}

.btn {
    margin: 20px auto 0px;
    padding: 8px 16px;

    font-family: inherit;
    font-size: 16px;
    font-weight: 700;

    border: 2px solid rgb(8, 94, 255);
    border-radius: 8px;
    outline: none;
}

.btn:disabled {
    border: 2px solid #ccc;
    cursor: default;
}

.btn:hover:not(:disabled) {
    cursor: pointer;
    box-shadow: 0px 0px 6px 1px rgba(11, 120, 245, 0.4);
}

.history {
    margin: 0 auto;
    width: 80%;

    border-top: 1px solid #777;
}

.item__history {
    padding: 0px 0px 0px 10px;
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: start;

    border-bottom: 2px solid #555;

    background-color: azure;
}

.item__history > p {
    margin: 6px 0px;
}

.empty {
    text-align: center;
}